.container-footer{
    width: 100%;
    background-color: #8792a7;
    height: 75px;
}
.footer{
    padding-top: 14px;
    position: sticky;
}
.footer p{
    color: antiquewhite;
    margin: 0 auto;
    font-size: 16pt;
    margin-left: 20%;
}
@media only screen and (max-width: 574px){
    .container-footer{
        height: 100px;
    }

}